ul{
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: darkslategrey;
}

li a:hover{
    text-decoration: underline;
}

.GoogleLogo{
    margin-top: 10%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.Search{
    margin: auto;
    width: 100%;
    text-align: center;
}

table{
    text-align: center;
    margin: auto;
}


.footer{
    margin-top: 19%;
    background-color: lightgray;
    display: block;
}